/* Footer */
.footer {
  padding: 30px 0 20px;
  font-size: 16px;
  background-color: #fff;
}
.footer p {
  color: #575757;
  margin-bottom: 10px;
}
.footer a {
  color: #3939d0 !important;
  text-decoration: underline !important;
}
